# Let folks in
Order allow,deny
Allow from all

# Execute these suckas as scripts
Options ExecCGI
SetHandler cgi-script

# In case /cgi-bin is within /master so we don't get into a redirection loop
RewriteEngine off
